.musician {
	height: 300px;
	width: 100%;
}

.overlay {
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.7) 0%,
		rgba(91, 91, 91, 0) 38.02%
	);
}

@media (min-width: 768px) {
	.musician {
		height: 390px;
		width: 22%;
	}
}
